<%= render "welcome/navbar" %>
<h1>messages</h1>
 
<table>
 
  <% @messages.each do |message| %>
    <tr>
    	<form class="form-horizontal">
	    	<div class="form-group form-group-lg">
	    		<td><label class="col-sm-2 control-label"><%= current_user.name %>:</label></td>
	      		<td><%= message.text %></td>
	    	</div>
	    </form>
    </tr>
  <% end %>
</table>
<%= render template: "messages/new" %>