<%= render 'navbar' %>
<% if user_signed_in?%>
	

	<table>
			<tr>
				<a href="app/devise/registrations/edit.html.erb"><td><img src="assets/images/user.jpg" class="img-rounded" style="width:150px;height:128px;"></td></a>
				<td><%= current_user.name %></td>
			</tr>
	</table>

	<table align="center">
			<% @tweets.each do |tweet| %>
				<tr>
					<td><%= tweet.text %></td>
				</tr>
			<% end %>
	</table>
<% end %>