<%= render 'navbar' %>
<% if user_signed_in?%>
	

	<table>
			<tr>
				<td><li class="round-image"><%= image_tag(current_user.avatar.url(:thumb)) %></li></td>
				<td><%= current_user.name %></td>
			</tr>
	</table>

	<table align="center">
			<% @tweets.each do |tweet| %>
				<tr>
					<td><%= tweet.text %></td>
				</tr>
			<% end %>
	</table>
<% end %>