<%= render 'navbar' %>
<table>
			<tr>
				<td><li class="round-image"><%= image_tag(current_user.avatar.url(:thumb)) %></li></td>
			<div class="btn pull-right"><%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn btn-warning' %></div>
			</tr>
</table>

 
