<%= render 'navbar' %>
<table>
			<tr>
				<a href="app/devise/registrations/edit.html.erb"><td><img src="assets/images/user.jpg" class="img-rounded" style="width:150px;height:128px;"></td></a>
			<div class="btn pull-right"><%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn btn-warning' %></div>
			</tr>
</table>

 
